/* You can add global styles to this file, and also import other style files */
.cucumber{
  color:#00ab61 !important;
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.margin-top-login{
  margin-top: 100px !important;
}

.max-width-login{
  max-width: 375px;
}

.mat-icon-login {
   transform: scale(2);
}

.bad-credentials-space {
  height: 35px;;
}

.bad-credentials-height {
  margin-bottom: 1px;
  height: 16px;
  line-height:6px;
  padding:0px 16px;
}

.bg-main-theme {
  background-color: #009688;
}

.form-title-size {
  font-size: 1.2rem !important;
}

.btn-remove-image {
  position: absolute;
  cursor: pointer;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 22px;
  height: auto;
  text-align: center;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
