<div class="header-height mt-5"></div>
<button routerLink="/" class="btn btn-success ms-3">
  <mat-icon class=" text-white">home</mat-icon>
</button>
<mat-card class="w-50 bg-light mt-3 ms-3 me-3 hover-admin-card">
  <mat-card-content>
    <button
      routerLink="/admin/category_admin"
      mat-button
      class="cucumber"
      color="accent"
    >
      <span class="material-icons me-2"> arrow_circle_right </span>Category
    </button>
  </mat-card-content>
</mat-card>
<mat-card class="w-50 bg-light mt-3 ms-3 me-3 hover-admin-card">
  <mat-card-content>
    <button
      routerLink="/admin/promotion_admin"
      mat-button
      class="cucumber"
      color="accent"
    >
      <span class="material-icons me-2"> arrow_circle_right </span>Promotion
    </button>
  </mat-card-content>
</mat-card>
<mat-card class="w-50 bg-light mt-3 ms-3 me-3 hover-admin-card">
  <mat-card-content>
    <button
      routerLink="/admin/product_admin"
      mat-button
      class="cucumber"
      color="accent"
    >
      <span class="material-icons me-2"> arrow_circle_right </span>Product
    </button>
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
