<div class="header-height"></div>
<nav aria-label="breadcrumb" class="ps-4 pt-4 bg-light cucumber">
  <ol class="breadcrumb cucumber">
    <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
    <li class="breadcrumb-item">
      <a routerLink="/admin/product_admin">Product</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Add Product</li>
  </ol>
</nav>
<div class="container flex-row">
  <mat-card class="shadow">
    <mat-card-header class="mb-3 bg-main-theme">
      <mat-card-title class="text-white pb-3 form-title-size fw-light"
        >Product</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
        <div class="row">
          <div class="container col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Product Libelle</mat-label>
              <input
                matInput
                placeholder="Product Libelle"
                [(ngModel)]="product.productLibelle"
                name="productLibelle"
                minlength="2"
                #productLibelle="ngModel"
                required
                type="text"
              />
              <mat-error *ngIf="productLibelle.errors?.['required']">Product name is required</mat-error>
              <mat-error *ngIf="productLibelle.errors?.['minlength']">Product name must be at least 2 characters long.</mat-error> 
            </mat-form-field>
            <div class="mt-2"></div>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Product Description</mat-label>
              <textarea
                matInput
                placeholder="Product Description"
                [(ngModel)]="product.productDescription"
                name="productDescription"
                #productDescription="ngModel"
                minlength="10"
                maxlength="200"
                required
                type="text"
              ></textarea>
              <mat-error *ngIf="productDescription.errors?.['required']">Product description is required</mat-error>
              <mat-error *ngIf="productDescription.errors?.['minlength']">Product description must be at least 10 characters long.</mat-error> 
              <mat-error *ngIf="productDescription.errors?.['maxlength']">Product description must be at maximum 200 characters long.</mat-error>
            </mat-form-field>
            <div class="mt-2"></div>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Category</mat-label>
              <mat-select
                [(ngModel)]="product.category"
                name="categories"
                [compareWith]="compareWithCategory"
                required
                #productCategory="ngModel"
              >
                <mat-option
                  *ngFor="let category of categories"
                  [value]="category"
                >
                  {{ category.categoryName }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="productCategory.errors?.['required']">Category is required</mat-error>
            </mat-form-field>
            <div class="mt-2"></div>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Product Price</mat-label>
              <input
                matInput
                placeholder="Product Price"
                [(ngModel)]="product.productPrice"
                name="productPrice"
                type="number"
                #productPrice="ngModel"
                required
                min="0.1"
                (keyup)="changeDiscountedPrice($event)"
              />
              <mat-error *ngIf="productPrice.errors?.min">Minimal Product Price is required</mat-error>
            </mat-form-field>
            <div class="mt-2"></div>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Promotion</mat-label>
              <mat-select
                [(ngModel)]="product.promotion"
                name="promotions"
                [compareWith]="compareWithPromotion"
                #productPromotion="ngModel"
                (selectionChange)="changeDiscountedPrice($event)"
              >
                <mat-option [value]="0"> </mat-option>
                <mat-option
                  *ngFor="let promotion of promotions"
                  [value]="promotion"
                >
                  {{ promotion.promotionName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Product Discounted Price</mat-label>
              <input
                matInput
                placeholder="Product Discounted Price"
                [(ngModel)]="product.productDiscountedPrice"
                name="productDiscountedPrice"
                disabled
                type="number"
              />
            </mat-form-field>
          </div>
          <div class="container col-md-6">
            <input
              type="file"
              value="select"
              #select
              (change)="onFileSelected($event)"            
            />
            <mat-error *ngIf="!product.image">Image is required (Max size: 128 ko)</mat-error>
            <div *ngIf="product.image" class="my-2 mx-5">
              <div class="row">
                <div style="position: relative;">
                  <!-- <span (click)="removeImage()" class="btn-remove-image">X</span> -->
                  <img *ngIf="product.image.url" [src]="product.image.url" width="100%" alt="" >
                  <img *ngIf="product.id" [src]="product.image.image_url" width="100%" alt="" >

                </div>
              </div>
            </div>
            <div class="alert alert-danger bad-credentials-height w-100 text text-center file-error-text-size" role="alert" *ngIf="fileSizeError">the size of the image exceeds the maximum allowable value</div>
          </div>
        </div>

        <div>
          <div class="float-end">
            <button mat-raised-button color="primary" class="me-3" routerLink="/admin/product_admin">
              <span class="material-icons"> backspace </span>
            </button>
            <button
              type="submit"
              mat-raised-button
              color="primary"
              *ngIf="!product.id"
              [disabled]="productForm.form.status==='INVALID' || !product.image || fileSizeError"
            >
              Add Product
            </button>
            <button
              type="submit"
              mat-raised-button
              color="primary"
              *ngIf="product.id"
              [disabled]="productForm.form.status==='INVALID' || !product.image || fileSizeError"
            >
              Update
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<div class="container mt-5 col-lg-4"></div>
